<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单页面</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
    <table>
        <tr>
            <td>商品名字</td>
            <td th:text="${orderDetailVo.name}"></td>
        </tr>
        <tr>
            <td>商品图片</td>
            <td colspan="3">
                <img th:src="@{${orderDetailVo.imgPath}}" width="200" height="200">
            </td>
        </tr>
        <tr>
            <td>订单开始时间</td>
            <td colspan="3"  th:text="${#dates.format(orderDetailVo.startTime,'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <td>联系方式</td>
            <td colspan="3" th:text="${orderDetailVo.tel}"></td>
        </tr>
        <tr>
            <td>收货地址</td>
            <td colspan="3" th:text="${orderDetailVo.address}"></td>
        </tr>
    </table>
</body>
</html>